<!DOCTYPE html>
<a href="/">Go Back</a>
<div class = "config">
	<div class="video_path">
		<input type="text" id="change_video_path">Change Video Path</input>
		<button id="change_video_path_bttn">Submit</button>
	</div>
	<div class="user_config">
	{% for user in users %}
		<div class="user_specific">
			{{user.username}}
			<button class="user_button" id="button.{{user.username}}">Remove User </button>
		</div>

	{% endfor %}
	</div>
	<input type="text" id="add_user_username">Username </input>
	<input type="password" id="add_user_password">Password</input>
	<button class="add_user_button" id="add_user_button">Add User</button>
</div>
	<script>
		function postData(url,data_in){
			return fetch(url, {
        			method: 'POST', // *GET, POST, PUT, DELETE, etc.
        			mode: 'cors', // no-cors, cors, *same-origin
        			cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        			credentials: 'same-origin', // include, *same-origin, omit
        			headers: {
            				'Content-Type': 'application/json',
        			},
        			redirect: 'follow', // manual, *follow, error
        			referrer: 'no-referrer', // no-referrer, *client
        			body: JSON.stringify(data_in), // body data type must match "Content-Type" header
    			})
    			.then(response => response.json()); // parses JSON response into native JavaScript objects
		}
		document.getElementById('add_user_button').onclick=
		function addUser(){
	//		console.log(document.getElementById('add_user_username'))
			let username = document.getElementById('add_user_username').value
			let password = document.getElementById('add_user_password').value
			console.log(postData("user_api",{"action":"add user","username":username,"password":password}));
			console.log("user: "+username+" password: " + password);
			location.reload()

		}
		document.getElementById("change_video_path_bttn").onclick=function changeVidPath(){
			let vid_path=document.getElementById('change_video_path').value
			console.log(vid_path)
			postData("api/video_path",{"action":"change data path","path":vid_path})
		}

		console.log(document.getElementsByClassName("user_config")[0])
		let user_config = document.getElementsByClassName("user_config")[0]
		let remove_user_buttons=[]
		for(let i=0;i<user_config.children.length;i++){
			remove_user_buttons.push(user_config.children[i].children[0]);
			remove_user_buttons[i].onclick=function temp(){
				console.log(this);
				username=this.id.substring(7)
				console.log(username);
				postData("user_api",{"action":"remove user","username":username})
				//location.reload()
			};
		}
		console.log(remove_user_buttons);
	</script>
