<!DOCTYPE html>
<head>
	 <link href="/static/index.css" rel="stylesheet">
</head>
<div class="top_nav">
<a href="{{LOGOUT_URL}}">Log Out</a>
<a href="{{CONFIG_URL}}">Settings</a>
{% for vid in videos %}
<a href="videos/{{vid.url}}">{{vid.url}}</a>
{% endfor %}
