<!DOCTYPE html>

<head>
	 <link href="/static/index.css" rel="stylesheet">
</head>
<html lang="en">
<div class="body">
<form action="{{ACTION_URL}}" method="post">
	<label for="username">Username</label>
	<input type="text" id="username" name="username"/>

	<label for="password">Password</label>
	<input type="password" id="password" name="password"/>
	<input type="submit" name="form.submitted" value="Log In"/>
</form>
</div>
