<!DOCTYPE html>
<html lang="en">
<form action="{{ACTION_URL}}" method="post">
	<label for="username">Username</label>
	<input type="text" id="username" name="username"/>

	<label for="password">Password</label>
	<input type="password" id="password" name="password"/>
	<input type="submit" name="form.submitted" value="Log In"/>
</form>
