<!DOCTYPE html>
<head>
	<link href="/static/index.css" rel="stylesheet"></link>
	<script src="static/jquery.js" type="text/javascript"></script>
</head>
<div class="topnav">
	<a href="{{LOGOUT_URL}}" class="topnav_link">Log Out</a>
	<a href="{{CONFIG_URL}}" class="topnav_link">Settings</a>
	<a href="/" class="topnav_link">Home</a>
	<a href="playlists" class="topnav_active">Playlists</a>
</div>
<div class="body">
	{% for playlist in playlists %}
		<div class="playlist" id="{{playlist.name}}">
			<div class=playlist_name>
			{{playlist.name}}
			</div>
			<img class="playlist_img" src="{{playlist.thumbnail}}"/>
		</div>
		
	{% endfor %}

</div>
<script>
playlist_html=
"<div class='playlist_play' id='{playlist.name}'>"+
	"<video controls class='video_playlist'>"+
	"<source class='video_src' src='{video.url}'>"+
	"</video>"
"</div>"
vid_thumbnail_cont=
"<div class='thumb_container'>"+
"</div>"
vid_thumbnail_html=
"<div class = 'playlist_vid_thumbnail' id='{vid.name}'>"+

	"<img class='playlist_vid_img' src='{vid.thumb}'>"+
"</div>"
playlists=[]
run_list={}
var volume=0;
var index=0;
function runList(name){
	console.log("name: "+name);
	console.log("length: "+playlists.length);
	run_list={};
	for(var i=0;i<playlists.length;i++){
		console.log("current name: "+playlists[i]["name"]);
		if(playlists[i]["name"]==name){
			console.log("playlist to run: ");
			console.log(playlists[i]);
			run_list=playlists[i];
		}
	}
	$(".body").empty();
	temp_html=playlist_html;
	temp_html=temp_html.replace(/{playlist.name}/gi,run_list["name"]);
	temp_html=temp_html.replace(/{video.url}/gi,run_list["videos"][0]["url"]);
	console.log(temp_html);
	var element = $(temp_html);
	var cont = $(vid_thumbnail_cont);
	for(var i=0;i<run_list["videos"].length;i++){
		thumb_html=vid_thumbnail_html.replace(/{vid.thumb}/gi,
			run_list["videos"][i]["thumbnail"]);
		thumb_html=thumb_html.replace(/{vid.name}/gi,
			run_list["videos"][i]["name"]);
		thumb_html=$(thumb_html);
		thumb_html.on('click',function(event_in){
			console.log(event_in);
			name = event_in.currentTarget.id;
			playVid(name);
		});
		cont.append(thumb_html);


		console.log(run_list["videos"][i]);
	}
	element.append(cont);
	$(".body").append(element);
	console.log($(".video"));

	var vid = $(".video_playlist")[0]
	vid.onvolumechange=function(){
		volume=vid.volume;
	}
	function playVid(name){
		for(var i=0;i<run_list["videos"].length;i++){
			if(run_list["videos"][i]["name"]===name){
				index=i;
		    		var vid_src = $(".video_src")[0];
				vid_src.src=run_list["videos"][index]["url"];
				var vid = $(".video_playlist")[0]
				vid.load();
				vid.current_time=0;
				vid.volume=volume
				vid.play();
			}
		}
	}
	vid.onended=function(){
		console.log("ended");
		if(index+1<run_list["videos"].length){
			index++;
			console.log("finished vid");
			console.log($(".video_src"))
		    	var vid_src = $(".video_src")[0];
			vid_src.src=run_list["videos"][index]["url"];
			var vid = $(".video_playlist")[0]
			vid.load();
			vid.current_time=0;
			vid.volume=volume
			vid.play();
			
		}
	};

}
$.ajax("/api/playlist_get").done(function(resp){
	console.log(resp);
	playlists=resp["playlists"];
})
$(".playlist").on('click',function(click_event){
	div=click_event.currentTarget;
	console.log(div);
	console.log(div.id);		
	runList(div.id);
});
</script>
