<!DOCTYPE html>
<html lang="en">
<head>
	 <link href="/static/index.css" rel="stylesheet">
</head>
<form action="{{SUBMIT_URL}}" method="post">
	<label for="video_path">Video Path</label>
	<input type="text" id="video_path" name="video_path"/>
	<label for="username">Username</label>
	<input type="test" id="username" name="username"/>

	<label for="password">Password</label>
	<input type="password" id="password" name="password"/>
	<input type="submit" name="form.submitted" value="Finish Configuration"/>
</form>
</html>
