<!DOCTYPE html>
<head>

	 <link href="/static/index.css" rel="stylesheet">
</head>
<div class="topnav">
	<a href="/">Home</a>
</div
<div class="videos">
<video controls>
	<source src={{video.url}}>
</video>
</div>
