.video_div{
	width: 100%;
	display: block;
	padding: 15px;
}
.video_div a{
	width:100%;
}
.video_img{
	width: 100%;
	overflow: hidden;
}
html{
	background-color: #242327;
}
.body{
	background-color: #3c3b42;
	padding: 10px;
	display: grid;
	margin: 10px;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	justify-items: center;
}
.playlist{
	color: white;
	display: block;
	background-color: #5a576c;
	padding: 5px;
	margin: 10px;
}
.playlist_name{
	text-align: center;
}
.topnav{
	width:100%;
	background-color: #2c3145;
	overflow: hidden;
	
}
.topnav_link{
	float: left;
	padding: 16px;
	text-align:center;
	vertical-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
}
.topnav_active{
	float: left;
	padding: 16px;
	text-align:center;
	vertical-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	background-color: #8c8e99;
}
.topnav a:hover{
	background-color: #4d5161;
}
.topnav a:active{
	background-color: #6c728a;
}
.form_div{
	background-color: #3c3b42;
	color: #fff;
	margin: 20px;
}
.form_div:nth-child(1){ margin: 10px;
}
.playlist_add{
	width: 100%;
}
